


body {
  display: grid;
  grid-template-columns: 30px repeat(3, 1fr) 30px;

  grid-template-areas:
  '.... header header header ....'
  '.... choice comput result ....'
  '.... footer footer footer ....';
}

@media (max-width: 640px) {
  body {
    grid-template-columns: 20px 1fr 20px;

    grid-template-areas:
    '..  header  ..'
    '..  choice  ..'
    '..  comput  ..'
    '..  result  ..'
    '..  footer  ..';
  }
}

header {
  grid-area: header;
  justify-self: center;
  color: grey;
}

div {
  justify-self: center;
}

.choice {
  grid-area: choice;
  /* justify-self: center; */
}

.computer {
  grid-area: comput;
}

.result {
  grid-area: result;
}

li {
  display: inline;
}

ul {
  padding: 0;
}
